/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: rgb(41, 41, 41); /* Le fond de la page sera noir */
    color:rgb(203,171,110); /* Le texte de la page sera blanc */
    font-size: 1.2em;
}

#Refnemo
{
    color : rgb(43, 143, 40);

}

p
{
    text-align: justify;
}

h1
{
    font-weight: bold;
    text-align: center;
    font-size: 2.4em;
}

h2
{
    
    text-decoration:underline;
}

button{
    background-color: green;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
button:hover{
    border-color: rgb(61, 187, 88);
    }
@media all and (max-width:30em){
    button{
        display:block;
        margin:0.2em auto;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-style: italic ;
    display: block;
    color: rgb(203,171,110);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(0, 0, 0);
  }

  /*Mise en page à adapter*/
  #volet {
	width: 250px;
	padding: 10px;
	/*background: #6B9A49; color: #fff;	*/
    position: relative;
	right: -270px; top: 55px;
    -webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
#volet:target {
	left: 0;
}
#volet a.ouvrir {
	padding: 10px 25px;
	background: #555;
	color: #fff;
	text-decoration: none;
    position: absolute;
	left: -88px;
	top: 150px;

	/* quelques styles CSS3 */
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;
}

#volet a.fermer {
	padding: 10px 25px;
	background: #555;
	color: #fff;
	text-decoration: none;
    position: absolute;
	left: -88px;
	top: 150px;

	/* quelques styles CSS3 */
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;
    display: none;
}

#volet_clos:target #volet {
	right: -270px;
}

#volet:target a.ouvrir {
	display: none;
}
#volet:target a.fermer {
	display: block;
}
